# Android
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Kotlin
*.class
*.jar
*.war
*.aar

# App-specific
app/build/
app/release/
*.keystore
*.jks
